
/*========
    Fonts
==========*/
$primary-font: "Poppins", sans-serif; 


/*==============
    text color
================*/
$color-text-01: #e8e8e8;
$color-text-02: rgb(146, 146, 146);
$color-text-03: #d00d00;

// links
$color-link: white;
$color-link-hover1: rgb(146, 146, 146);
$color-link-hover2: #d00d00;



/*===========
 backgrounds
=============*/
$color-bg-01: black;
$color-bg-02: #191919 ;
$color-bg-03:  #202020;
$color-bg-04: rgb(146, 146, 146);
$color-bg-05:  #d00d00;
$color-bg-06: white;





