@use 'config' as *;
@use 'mixins' as *;

.footer-nav{
    @include flex-center;
    height: 100px;
    padding:10px;
    background:$color-bg-01;

    &-bar{
        ul{
            display: flex;
            gap:20px;
        }

        a:hover{
            color: $color-link-hover1;
        }
    }
    
}

.footer-content-container{
    @include flex-center;
    padding: 10px;
    background: $color-bg-02;
    border-top: 2px solid $color-bg-03;
    a{
        color: $color-text-02;
    }
    

    .footer-content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        
        .brand{
            display: flex;
            align-items: center;
            font-size: 1.8rem;
        }
        .social{
            @include flex-justify-align(end, center);
            gap:20px;
            padding: 10px;
        }
        
        .dev-signature{
            display: flex;
            flex-direction: column;
            grid-column: 1/3;
            text-align: center;
            padding-top: 10px;
        
            p{
                font-weight: 300;
                color: $color-text-02;
                line-height: 20px;
            }
            a{
                color: $color-link-hover2;
                &:hover{
                    color: $color-link;
                    font-weight: 200px;
                }
            }
        }
    }
  
}

