@use 'config' as *;
@use 'mixins' as *;

.footer-nav{
    @include flex-center;
    height: 100px;
    padding:10px;
    background:$color-bg-01;

    &-bar{
        ul{
            display: flex;
            gap:20px;
        }

        a:hover{
            color: $color-link-hover1;
        }
    }
    
}

.footer-content-container{
    // @include flex-center;
    display: grid;
    height: 100px;
    padding: 10px 30px;
    background: $color-bg-02;
    border-top: 2px solid $color-bg-03;
    a{
        color: $color-text-02;
    }
    

    .footer-content{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        
    }
    .brand{
        display: flex;
        align-items: center;
        font-size: 1.8rem;
    }
    .social{
        @include flex-center;
        gap:20px;
    }
    
    .dev-signature{
        display: flex;
        flex-direction: column;
        text-align: end;
    
        p{
            font-weight: 300;
            color: $color-text-02;
        }
        a{
            color: $color-link-hover2;
            &:hover{
                color: $color-link;
                font-weight: 200px;
            }
        }
    }
  
}

