@use 'config' as *;
@use 'mixins' as *;

/* ==========
    HERO 
   ==========*/
.hero {
    height: 95vh;
    padding: 30px;
    display: grid;
    grid-template-columns: auto;

    .banner-img__container {
        grid-column: 1/6;
        display: none;
        align-items: center;
        overflow: hidden;

        .banner-img {
            display:flex;
            justify-content: end;

            img {
                
                width: 90%;
                min-width: 380px;
            }
        }

    }

    .banner-container {
        grid-column: 6/12;
        display: flex;
        align-items: center;

    }

    .banner {
        width: 70%;
        margin-left: 20px;
        font-weight: 400;

        span {
            color: $color-text-03;
            font-size: 1.2rem;
        }

        h1 {
            font-size: 4rem;
            font-weight: bold;
            padding-top: 5px;

        }

        .banner__description {
            margin-top: 15px;
            font-weight: 200;
            line-height: 25px;

        }

        .about-me-btn {
            @include button;
            margin-top: 20px;
        }
    }

}

/* ==========
   SKILLS & EXPERIENCE 
   ==========*/
.skills-contanier {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, $color-bg-02 50%, $color-bg-01 50%);

    .skills-content {
        width:80%;
        margin: 50px auto;
        display: grid;
        column-gap: 20px;

        .skills-item {
            padding: 50px 30px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            i{
                font-size: 3rem;
            }

            h3 {
                font-size: 1.8rem;
                padding: 25px 0px;
            }

            p {
                font-weight: 200;
                line-height: 25px;
            }

            span {
                font-size: 1.2rem;
                padding: 20px 0px;
            }

            
        }


        .skills-item__1 {
            background-color: $color-bg-03;
            i,
            a {
                color: $color-text-03;
            }

            span{
                i {
                    font-size: 16px;
                    padding-left: 5px;
                }
            }

        }

        .skills-item__2 {
            background-color: $color-bg-05;
            span{
                i {
                    font-size: 16px;
                    padding-left: 5px;
                }
            }
            
        }

        .skills-item__3 {
            background-color: $color-bg-03;
            i,
            a {
                color: $color-text-03;
            }

            span{
                i {
                    font-size: 16px;
                    padding-left: 5px;
                }
            }

        }

        .experience-item {
            @include flex-center;
            flex-direction: column;
            margin-bottom: 20px;
            padding: 40px;
            background: $color-bg-03;

            :nth-child(1) {
                font-size: 1.5rem;
                color: $color-text-03;
                font-weight: bold;
                padding-bottom: 5px;
            }
        }

        .exp-item1 {
            @include flex-center;
            grid-row: 6/ 12;
            font-size: 1.5rem;
            background: none;

            :first-child {
                font-size: 5rem;
            }

        }

    }

}

/*============
    PROJECTS
===============*/
#projects {
    background: linear-gradient(180deg, $color-bg-01 80%, $color-bg-02 20%);
    padding-bottom: 50px;
}


.projects-container {
    @include flex-center;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;  
}

.projects-header {
    width: 80%;
    padding: 20px 0;

    .projects-title {
        
         h2 {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            font-weight: 300;
            color: $color-text-02;
        }

    }

    .view-all-btn {
        margin-top:20px; 
        @include button;    
    }
}

.projects-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding:30px 0;
}

.projects-item {
    .img-project__container {
        padding: 20px;
        background: $color-bg-03;

        img {
            width: 100%;
            box-shadow: 6px 8px 15px black;
        }
    }

    .project-name {
        margin-top: 20px;

        h3 {
            font-size: 1.3rem;
            font-weight: 600;
        }

        .know-more-link {
            color: $color-text-03;

            i {
                font-size: 16px;
                padding-left: 3px;
            }
        }
    }



}

/*============
    Contact
==============*/
#contact {
    background: linear-gradient(180deg, $color-bg-02 50%, $color-bg-01 50%);
    padding-bottom: 50px;
}

.contact-item {
    @include flex-center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 80px 50px;
    background: $color-bg-03;

    .contact-content {
        display: flex;
        flex-direction: column;
        width: 90%;

        h3 {
            font-size: 2.3rem;
            font-weight: 600;
        }

        p {
            margin-top: 20px;
            padding: 5px;
            font-weight: 300;
            color: $color-text-02;
        }
    }

    .contact-btn-container {
        @include flex-center;
        width: 40%;
    }

    .contact-btn {
        margin-top: 50px;
        @include button;
    }
}