@use 'reset' as *;
@use 'config' as *;
@use 'header' as *;
@use 'main' as *;
@use 'footer' as *;
@use 'responsive' as *;
@use 'scrollReveal' as *;


/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,900&display=swap');


body {
    background-color: $color-bg-01;
    color:$color-text-01;
    font-family: $primary-font;

    a {
        color: $color-link;
    }
}

.container{
    width: 100%;
    min-width: 320px;
}

.overflow-hidden{
    overflow: hidden;
}

.hidden {
    display: none;
}




